<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
      <%= @word %>
    </div>
    <%= form_with(model: @post, local: true) do |form| %>
      <div class="form">
        <div class="form-body">
          <%= form.label :content, "目標" %>
          <%= form.text_field :content_second %>
          <%= form.hidden_field :content_api, :value => @word %>
          <%= form.submit "投稿" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
