<!DOCTYPE html>
<html>
  <head>
    <title>Life</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to('LifeApp', root_path) %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to('LifeAppとは', about_path) %>
        </li>
        <li>
          <%= link_to("つぶやく", posts_hesitation_path) %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to("ユーザーページ", user_path)%>
          </li>
          <li>
            <%= link_to("ログアウト", destroy_user_session_path) %>
          </li>
        <% else %>
          <li>
             <%= link_to("新規登録", new_user_registration_path) %>
          </li>
          <li>
             <%= link_to("ログイン", new_user_session_path) %>
          </li>
        <% end %>
      </ul>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
